header {
    height: 300px;
    font-size: 100px;
    color: white;
    align-content: center;
    justify-content: center;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.words {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#wordBlanks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
#wrongput {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.ltrdiv {
    font-size: 32px;
    padding: 10px;
    flex-wrap: wrap;
}
.done {
    font-size: 32px;
    padding: 10px;
    flex-wrap: wrap;
}
.guessed {
    width: 25%;
    font-size: 24px;
    padding: 10px;
    flex-wrap: wrap;
    
}
.score {
    font-size: 40px;
    margin-right: 50%;
    margin-left: 50%;
}
.scoretext {
    font-size: 20px;
    margin-right: 50%;
    margin-left: 50%;
}