header {
    height: 300px;
    font-size: 100px;
    color: white;
    align-content: center;
    justify-content: center;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.wordBlanks {
    position: flex;
    flex-direction: row;
}
.ltrdiv {
    font-size: 32px;
    padding: 10px;
}
.done {
    font-size: 32px;
    padding: 10px;
}